@font-face {
    font-family: "Koruri";
    src: local('Koruri-Light'),
    url('https://media.h3z.jp/fonts/Koruri-Light.woff2') format('woff2'),
    url('https://media.h3z.jp/fonts/Koruri-Light.woff') format('woff'),
    url('https://media.h3z.jp/fonts/Koruri-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Koruri";
    src: local('Koruri-Regular'),
    url('https://media.h3z.jp/fonts/Koruri-Regular.woff2') format('woff2'),
    url('https://media.h3z.jp/fonts/Koruri-Regular.woff') format('woff'),
    url('https://media.h3z.jp/fonts/Koruri-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Koruri";
    src: local('Koruri-Semibold'),
    url('https://media.h3z.jp/fonts/Koruri-Semibold.woff2') format('woff2'),
    url('https://media.h3z.jp/fonts/Koruri-Semibold.woff') format('woff'),
    url('https://media.h3z.jp/fonts/Koruri-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Koruri";
    src: local('Koruri-Bold'),
    url('https://media.h3z.jp/fonts/Koruri-Bold.woff2') format('woff2'),
    url('https://media.h3z.jp/fonts/Koruri-Bold.woff') format('woff'),
    url('https://media.h3z.jp/fonts/Koruri-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Koruri";
    src: local('Koruri-Extrabold'),
    url('https://media.h3z.jp/fonts/Koruri-Extrabold.woff2') format('woff2'),
    url('https://media.h3z.jp/fonts/Koruri-Extrabold.woff') format('woff'),
    url('https://media.h3z.jp/fonts/Koruri-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Koruri", Sans-Serif;
    font-weight: 400;
    font-style: normal;
}

.question-text {
  white-space: pre-line;
}

.break-with-wbr {
  white-space: normal;
  word-break: keep-all;
}

.progress-anime.progress {
  height: 0.5em;
  overflow: hidden;
}
.progress-anime .progress-bar {
  width: 10%;
  margin-left: calc(-10% + 1em);
  animation: load2 2.25s infinite ease;
}
@keyframes load2 {
  45% {
    margin-left: calc(100% - 1em);
  }
  50% {
    margin-left: calc(100% - 1em);
  }
  95% {
    margin-left: calc(-10% + 1em);
  }
}

.nsfw-blur {
  transition: all 0.1s ease;
  filter: blur(8px);
}

.nsfw-guard {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.428);
  text-align: center;
  transition: all 0.1s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.all-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

details {
  margin-bottom: 1em;
}
.nav-link {
  padding: 0 !important;
  padding-right: 0.5rem !important;
}
.mini,
footer.container {
  color: rgb(128, 128, 128);
  font-size: 80%;
}
@media screen and (min-width: 1024px) {
  footer.container {
    display: grid;
    grid-template-areas:
      "notice notice"
      "data logo"
      "darktheme darktheme";
  }
  footer .title {
    font-size: 2rem;
  }
}
footer.container p {
  margin: 0;
}
button {
  margin: 5px;
}
footer .notice {
  grid-area: notice;
}
footer .data {
  grid-area: data;
}
footer .logo {
  grid-area: logo;
}
footer .darktheme {
  grid-area: darktheme;
  text-align: center;
}
footer button {
  width: 100%;
  max-width: 500px;
}
.badge-pill {
  margin-left: 5px;
}
.bold {
  font-weight: bold;
}
